body{
    
    color: white;
    background-color: #1A1818;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.homepapge_div{
    margin-top: 20%;
   
    display: flex;
    justify-content: center;
}



.country{
    padding-left: 0;
}

.display{
    background-color: #3C3C3C;
   padding: 20px;
}
.login_signin{
   
    display: flex;
    justify-content: flex-end;
}
.brandname{
    position: relative;
    top: 20px;
    margin-left: 10px;
}

.flag{
   width: 100px;
}

.img{

    width: 80px;
}

.cells{
    margin-top: 10px;
}

.login_signin{
    margin: 20px;
    font-size: 100px;

}


.login_btn{
    margin: 10px;
    margin-top: 10px;
}

h5{
position: relative;
bottom: 0;
}

.empty{
    width: 100px;
}

.font{
    font-family: 'Jockey One', sans-serif;
}
.main{
    padding: 0px 50px 0px 50px;
}

.teams{
    width: 150px;
}

.header{
    display: flex;
}

.hide{
    display: none;
}
.betbtn{
margin-top: 40px;
display: flex;
justify-content: center;
}
.bracketgame{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
#bracketGameID{
    
    max-width: 70%;
}
.btnplay{
    display: flex;
    justify-content: center;
}

.bracketflag{
    width: 40px;
}
.bflag{

    
    position: relative;
    top: 372px ;
    bottom: 89px;
    left: 850px;
    right: 34px;
}
.gflag{

    
    position: relative;
    top: 319px ;
    bottom: 89px;
    left: 107px;
   
}
.sflag{

    
    position: relative;
    top: 372px ;
    bottom: 89px;
    left: 152px;
    right: 34px;
}
.aflag{

    
    position: relative;
    top:319px ;
    bottom: 89px;
    left: 802px;
    right: 34px;
}

.heder_title{
    color: #7D7D7D;
}
.message{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.homebtn{
    margin-top: 40px;
}
.heading{
    margin-bottom: 40px;
}
.title_button{
    background-color: #7d7d7d1c;
    width: 50%;
    border-radius: 10px;
    padding: 5px;
    box-shadow: #ffffff;
    margin-bottom: 20px;

    -webkit-box-shadow: 0px 4px 6px #666666;
    -moz-box-shadow: 0px 4px 6px #666666;
    box-shadow: 0px 4px 6px #666666;
    text-decoration: none;
    
}
.title_button:hover{

    background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;

}
.liveimg{
    width: 500px;
}
.liveimgdiv{
display: flex;
justify-content: center;
}